/* MEU PROJETO */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-family: "Source Sans Pro", sans-serif;
}

.center-box {
  max-width: 1024px;
}

.top {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
}

.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  margin: 0 auto;
}

.title a {
  margin: 0 40px 0 0;
  font-size: 24px;
  text-decoration: none;
  color: #3d3d3d;
}

.title span {
  color: rgb(0, 128, 128);
}

.about a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 24px;
  margin-left: 15px;
}

/* END OF THE HEADER */

/* The body */
/*
main .title-site {
  background-image: url(../assets/img-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-site .container {
  background-color: rgba(0, 128, 128, 0.479);
  border: 2px solid white;
  border-radius: 1%;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.wellcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wellcome .center-box {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.wellcome .center-box h1 {
  font-weight: 400;
}

.wellcome .center-box p {
  font-size: 18px;
}

/*container with 3 photos of bedrooms*/
/*
.bedroom-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.bedroom-container .center-box {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  
}

.bedroom img {
  width: 90%;
}

.bedroom {
  margin-left: 30px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: solid 4px rgb(0, 128, 128);
  
}


.bedroom a{
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 24px;
  color: #3d3d3d;
}

.bedroom .bedroom-a{
  margin-top: 30px;
}

