/* MEU PROJETO */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-family: "Source Sans Pro", sans-serif;
}

.center-box {
  max-width: 1024px;
}

.top {
  position: fixed;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
}

.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  margin: 0 auto;
}

.title a {
  margin: 0 40px 0 0;
  font-size: 24px;
  text-decoration: none;
  color: #3d3d3d;
}

.title span {
  color: rgb(0, 128, 128);
}

.about a {
  text-decoration: none;
  color: #3d3d3d;
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 15px;
  line-height: 18px;
}

/* END OF THE HEADER */

/* The body */

main .title-site {
  background-image: url(../assets/img-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-site .container {
  color: rgb(255, 255, 255);
  font-size: 28px;
  background-color: rgba(10, 144, 119, 0.7);
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  padding: 0px 20px;
  border-radius: 4px;
}

.wellcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wellcome .center-box {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.wellcome .center-box h1 {
  font-weight: 400;
}

.wellcome .center-box p {
  font-size: 18px;
}

/*container with 3 photos of bedrooms*/
.bedroom-container {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.bedroom-container .center-box {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}

.bedroom img {
  width: 90%;
}

.bedroom {
  margin-left: 30px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: solid 4px rgb(0, 128, 128);
}

.bedroom a {
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 24px;
  color: #3d3d3d;
}

.bedroom .bedroom-a {
  margin-top: 30px;
}

/* Final of the bedrooms boxes */

/*route box*/

.container-route {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

#route {
  margin-top: 100px;
  font-weight: 100;
}

.map{
  margin-bottom: 50px;
}

/* sobre a pousada */

.container-about {
  
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  font-weight: 100;
}

.title-box {
  font-weight: 100;
}

/* finalizado sobre a pousada */

/* conteudo da pousada */

.content-pousada-items {

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.box {
  
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
}
.content-pousada-img {
  width: 150px;
  height: 130px;
}

.box-description{
  text-align: start;
  margin-right: 10px;
  padding: 20px;
}

.box-description h1{
  font-size: 24px;
}

.box-description p{
  font-size: 18px;
  line-height: 130%;
}

/* final of the 4 boxes of about pousada */


footer{
  background-color: rgb(0, 128, 128);
  color: #fff;
}

.container-footer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
  
}

.rodape-info {
  display: flex;
  width: 23%;
  align-items: center;
}


.rodape-copright{
  text-align: center;
  padding: 20px;
  width: 100%;
  border-top: 1px solid rgb(0, 128, 128);
  font-weight: 600;
}

.rodape h4 {
  font-size: 24px;
}

.rodape-icone {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.rodape-link{
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}